<h1>pjam-on-rails</h1>
<p>Your perl applications builder. Yeah, this is a continues integration server for perl applications.</p>
<pre>
    # Features
        - creates perl applications builds
        - uses pinto inside to handle dependencies
        - checkouts sources from subversion VCS
        - asynchronously executes build tasks
        - sends builds notifications by jabber
        - keeps artefacts
        - shows differences between builds
        - this is the ruby on rails application
    # author 
        - <%= link_to 'Alexey Melezhik', 'mailto:melezhik@gmail.com' %> 
    # documentation and source code
        - check out <%= link_to 'source code and documentation here', 'https://github.com/melezhik/pjam-on-rails' %>
</pre> 



