html {
  overflow-y: scroll; /* чтобы избавиться от горизонтальных скачков при переходе на страницы без скроллбара */
  font-size: 75%;     /* базовый кегль 75% (12px==1em), все остальные наследуют значение = 12px x Xem */
  }
@media all and (min-resolution: 120dpi) {
    html {font-size: 63.2%;} /* пропорционально уменьшаем кегль: 63.2/(120/96) */
    html, x:-moz-any-link {font-size: 79%;} /* выбор несуществующего элемента x с псевдоклассом -moz-any-link. понимают только Gecko-браузеры, остальные проигнорируют всю строчку */
  }

/* ========================================================================== */
/* Reset */
body,address,blockquote,div,p,pre,h1,h2,h3,h4,h5,h6,hr,	  /* блочные элементы */
dd,dl,dt,ul,ol,li,												                /* списки */
a,abbr,acronym,b,big,br,cite,code,del,dfn,em,i,					  /* строчные элементы */
ins,kbd,q,samp,small,span,strong,sub,sup,tt,var,				  /* строчные элементы */
img,object,														                    /* картинки и объекты */
caption,table,tbody,td,tfoot,th,thead,tr,						      /* табличные элементы */
input,textarea,select,button,form,fieldset,legend,label,optgroup 	/* элементы формы */
{
	margin:0px;
	padding:0px;
	vertical-align:baseline;
	text-align:left;
	text-indent:0px;
  font:normal normal normal 1em/normal Arial, Helvetica, sans-serif;
	text-decoration:none;
	list-style-type:none;
}

/* блочные элементы */
h1 {font-size:1.909em; margin:.75em 0 .25em;}
h2 {font-size:1.727em; margin:.75em 0 .25em;}
h3 {font-size:1.636em; margin:.75em 0 .25em;}
h4, h5, h6 {font-size:1.455em; margin:.75em 0 .25em;}

p {margin:.75em 0;}
p:first-child {margin-top:0 !important;}

/* списки */
ol {margin:0px 0px 1.5em 0px; list-style-type: decimal;}
ol li {margin:0px 0px 1em 25px; list-style-type: decimal;}

/* строчные элементы */
strong {font-size:1.364em;}
sup {position:relative; top:-.25em; line-height:normal; font-size:80%;}
a {color:#36c; text-decoration:underline;}
  a:visited {color:#909;}
  a:active {outline:none;} /* убраем рамку только для действий мышкой */
  a:hover,
  a:focus {color:#ed5c00 !important;}

b {font-weight:bold;}

/* картинки и объекты */
img {border:none;}

/* табличные элементы */
table {border-collapse:collapse; empty-cells:show;}
caption,td,th,tr {vertical-align:top;}

/* элементы формы */
textarea {
  vertical-align:top;
  width:100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  }

label,input,select,button {
	vertical-align: middle; /* элементы формы по центру строки */
}
fieldset {
  padding:.75em;
  margin:0px 0em .545em 0em;
  }
optgroup {font-style:normal; font-weight:bold; color:gray; padding-left:3px;}
optgroup > option {color:black;}
/*optgroup > option {-moz-padding-start: 1em;}*/

input[type="radio"],
input[type="checkbox"] {margin-right:.545em;}

input.type-reset,
input.type-submit,
input.type-button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  padding-left:.545em;
  padding-right:.545em;
  text-align:center;
	overflow:visible;
  }
/* Shared =================================================================== */

.border_box {
  box-sizing: border-box;         /* W3C Property, Opera */
  -moz-box-sizing: border-box;    /* Firefox */
  -webkit-box-sizing: border-box; /* Safari/WebKit/Chrome */
  -ms-box-sizing: border-box;     /* IE8 */
}

.visible {visibility:visible;}
.invisible {visibility:hidden;}
.none   {display:none;}
.block  {display:block;}
.inline-block {
  display:-moz-inline-stack; /* Эмуляция для FF2 */
  display:inline-block;
  }

.clickable {cursor:pointer;}
.link {text-decoration:underline; cursor:pointer;}

.nowrap {white-space:nowrap;}

.float_right {float:right;}
.float_left {float:left;}
.clear	{clear:both;}

.half {width:50%;}
.wide {width:100%;
  box-sizing: border-box;         /* W3C Property, Opera */
  -moz-box-sizing: border-box;    /* Firefox */
  -webkit-box-sizing: border-box; /* Safari/WebKit/Chrome */
  -ms-box-sizing: border-box;     /* IE8 */
}

.text-overflow,
div.overflow {
  display: block;
  overflow:hidden;
  white-space:nowrap;
  position:relative;
  -o-text-overflow:ellipsis;
  text-overflow:ellipsis-word;
  text-overflow:ellipsis;
  }

.r,
.right	{text-align:right;}
.strike {text-decoration:line-through;}

input.placeholder {color:gray;}

/* Pseudo link */
/*
  Псевдоссылка, вызывающая действие без перезагрузки.
  Вместо сплошного подчёркивания используется точечное.

  Для этого отключается text-decoration и с помощью border-bottom и
  двух относительно позиционированных элементов делается его эмуляция.
  Смещение подобрано так, чтобы во всех браузерах положение
  подчёркивания совпадало с text-decoration.

  Код:
  <span class="plink" onclick=""><span>Текст псевдоссылки</span></span>
  <a class="b-pseudo-link" href="" onclick=""><span>Текст псевдоссылки</span></a>
*/

.plink {
  white-space:nowrap;
  text-decoration:none;
  cursor:pointer;
  border-bottom:.091em dotted #36c;
	position:relative;
	top:-.182em;
  }
  .plink span {
  	position:relative;
  	top:2px; /* .182em(2px) при fonsize 1em(11px);*/
  	top:.182em;
  	color:#36c;
  }
  /* Блочная форма ============================================================ */
/* Обрамляющий div для input, textarea нужен чтобы эти поля,
   если они с шириной 100%, в IE не раздвигались вправо при их заполнении.
*/

.mform {padding:1em;}
.mform label,
.mform input,
.mform select,
.mform button {
  /* padding:1px 0px; чтобы были одинаковой высоты  в Chrome */
  vertical-align:middle; /* Чтобы все элементы формы располагались по центру строки */
  overflow:visible; /* Убрали лишние внутренние отступы у кнопок в IE */
}
.mform select {padding:0px; /*border:2px inset threedface;*/}

.mform fieldset {
  display:block;
  border:1px solid silver;
  padding:.545em 2em 1em 0;
  margin:.545em 0 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*  */
}
.mform fieldset legend {margin:0px 0.818em; padding:.25em; font-size:1.091em; color:#555;}
.mform .legend {margin:.818em 0px .818em 0px; padding:0em; font-size:1.091em; color:#555;}

.mform .separator {
  /*position:relative;*/
  margin:.75em 0;
  padding:0em;
  overflow:hidden;
  height:0px;
  border-style:solid;
  border-width:1px 0;
  border-color:silver transparent #fff;
  }

.mform textarea {vertical-align:top; padding:0; height:5em;}
.mform dl {padding:.455em; margin:0px 0px 1px;}
.mform dl dt,
.mform dl dd {margin:0px; padding:0px;}

.mform dl.inline {padding:.455em 0px;}
.mform dl.inline dt,
.mform dl.inline dd {margin:0px; padding:0px; vertical-align:baseline;}
.mform dl.inline {clear: both;  width:100%; overflow:visible; position:relative; }

.mform dl.inline dt.label {
  position: relative;
  display: block;
  clear: left;
  float: left;
  margin-right:-100%; /* чтобы справа не было отступа в IE */
  width: 14.25em;
}
.mform dl.inline dt.label label {
	display:block;
	vertical-align:baseline;
	padding-top:.182em;/*.273em*/
	}
.mform dl.inline .r,
.mform dl.inline .r label {text-align:right;}
.mform dl.inline dd.value {
  margin-left: 15em;
}

/*.mform dl.inline dd.value div {vertical-align:baseline;}*/

.mform input.type-submit,
.mform input.type-reset,
.mform input.type-button {margin-right:.727em; padding:.182em .455em; margin-top:1px;}
.mform input[type="submit"],
.mform input[type="reset"],
.mform input[type="button"] {
  margin-right:.727em; padding:.182em .455em;

/* Красивости */
/*
border: 1px solid rgba(117,117,117, .5);
border-bottom-color:rgba(0,0,0, .5);
border-radius: 50px;
-moz-border-radius: 50%;

-webkit-box-shadow: 0px 1px 0px rgba(0,0,0, .3);
-moz-box-shadow: 0px 1px 0px rgba(0,0,0, .3);
box-shadow: 0 1px 0px rgba(0,0,0, .5);

background-image: -webkit-gradient(linear,
    left top, left bottom,
    color-stop(0.0, rgba(255,255,255, 1)),
    color-stop(0.01, rgba(242,246,250, 1)),
    color-stop(1.0, rgba(190,194,196, 1)));
background-image: -moz-linear-gradient(top,
    rgba(255,255,255, 1) 0%,
    rgba(242,246,250, 1) 1px,
    rgba(190,194,196, 1) 100%);
color:black;
text-shadow:0px 1px 0px rgba(255,255,255,.5);
*/
}

/* Размеры: 20x20px в IE и 13x13px во всех остальных */
.mform .type-radio,
.mform .type-checkbox {padding:0; margin:0;}
.mform input[type="radio"],
.mform input[type="checkbox"]{padding:0; margin:0 .545em 0 0;}


.mform .wide {
  width: 100%! important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  }

.selector {padding-left:20px; position:relative;}
.selector .type-radio,
.selector .type-checkbox {position:relative; left:0px; margin-left:-20px;}
.selector input[type="radio"],
.selector input[type="checkbox"] {position:relative; left:0px; margin-left:-20px;}

/* Селекторы в списке */
ul.selector {margin:0px; padding:0px;}
ul.selector li {list-style-type:none; position:relative; vertical-align:top; margin:0 0 4px; padding:0 0 0 20px;}
  ul.selector ul {margin-top:4px;}

/* Список селекторов в строку */
.mform ul.inline {margin:0px; padding:0px; list-style-type:none;}
.mform ul.inline li {margin:0px 1em .5em 0px; display:inline;}

.mform dl.inline dd.value td {vertical-align:middle;}
.mform dl.inline dd.value .dropdown_button {margin-top:-1px;}

.mform .edit_mode {
  background:#fff1a8;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  }
/* depricated begin */
.mform .comment {color:gray; /*vertical-align:middle;*/}
.mform .value_caption {color:gray; line-height:normal; width:auto;}
.mform .field_caption {color:gray;}
.mform .field_comment {color:gray;}
/* depricated end */
.mform .disabled {color:graytext;}
.mform .hint {color:gray; /*vertical-align:middle;*/}
.mform .invalid input {color:red;}
.mform .tip {background-color:#ffc; color:#95682b; width:auto; vertical-align:middle; }
.mform .att {color: brown;}
.mform .error {color: brown; /*vertical-align:middle;*/}
.mform .error.msg {text-align: center;}
.mform .correct {color: green; /*vertical-align:middle;*/}


.mform .required label:after {content: '*'; width:.65em; margin-right:-.65em; color: brown; font-family:Verdana; line-height:.5em;}
.mform .required sup {
  font-family:Verdana;
  color: brown;
  display: block;
  position: absolute;
  vertical-align: middle;
  top: 0em;
  right:-.75em; width:.75em;
  text-transform: none;
  font-size: 8.5pt;
  margin: 0px;
  line-height:.75em;;
}
/* ========================================================================== */
/* Capsule list segmented */

ul.capsule_list_segmented {
  margin:0px;
  padding:0px;
  position:relative;
  line-height:24px;
  white-space:nowrap;
  /*max-width:500px;*/
  overflow:hidden;
  display:inline-block;
  vertical-align:middle;
}
  ul.capsule_list_segmented li {
  	z-index:0;
  	vertical-align:top; /* убираем нижний отступ FF3.5*/
  	list-style-type:none;
  	padding:0px;
  	margin:0px;
  	overflow:hidden;
  	cursor:pointer;
  	display:inline-block;
  	position:relative;
  }
    ul.capsule_list_segmented li span {
  	  line-height:24px;
      position:relative;
    	display:block;
    	padding:0px 10px 0px 8px;
    }
    ul.capsule_list_segmented li span.before,
    ul.capsule_list_segmented li span.after,
    ul.capsule_list_segmented li span:before,
    ul.capsule_list_segmented li span:after {
      z-index:-1;
    	content:'';
    	display:block;
    	position:absolute;
    	top:0px;
    	height:184px;
      padding:0px !important;
    }
    ul.capsule_list_segmented li span.before,
    ul.capsule_list_segmented li span:before {
      left:-13px;
    	width:500px;
    }
    ul.capsule_list_segmented li span.after,
    ul.capsule_list_segmented li span:after {
      left:-2px;
      margin-left:100%;
      width:2px;
    }

    ul.capsule_list_segmented li.first span {padding-left:10px;}
    ul.capsule_list_segmented li.first span.before,
    ul.capsule_list_segmented li.first span:before {
      left:-3px;
    }
    ul.capsule_list_segmented li.last span.before,
    ul.capsule_list_segmented li.last span:before {
      left:-500px;
      margin-left:100%;
      width:500px;
    }

    ul.capsule_list_segmented li.last span.after,
    ul.capsule_list_segmented li.last span:after {
      display:none;
    }

    ul.capsule_list_segmented li.selected span.before,
    ul.capsule_list_segmented li.selected span.after,
    ul.capsule_list_segmented li.selected span:before,
    ul.capsule_list_segmented li.selected span:after {
      content:' ';
      top:-48px;
    }

    ul.capsule_list_segmented li.label {cursor:auto;}
    ul.capsule_list_segmented li.label span {padding:0px .5em 0px 0px;}
    ul.capsule_list_segmented li.label span.before,
    ul.capsule_list_segmented li.label span.after,
    ul.capsule_list_segmented li.label span:before,
    ul.capsule_list_segmented li.label span:after {display:none;}


    ul.capsule_list_segmented .count {
      line-height:normal;
      text-decoration:none;
      font-style:normal;
      font-size:.773em;
      vertical-align:baseline;
      position:relative;
      left:.273em;
      top:-.545em;
      color:gray;
    }

    ul.capsule_list_segmented li.icon_left span {
      padding-left:24px;
    }
    ul.capsule_list_segmented li.icon_left ins.size16x16 {
      z-index:1;
      position:absolute;
      top:50%; margin-top:-8px;
      left:3px;
      width:16px; height:16px; overflow:hidden; /*background-color:red;*/
    }

/* -------------------------------------------------------------------------- */
/* Capsule list segmented decoration */

    ul.capsule_list_segmented li span.before,
    ul.capsule_list_segmented li span.after,
    ul.capsule_list_segmented li span:before,
    ul.capsule_list_segmented li span:after {
    	background:url(/img/sprite_capsule_ls.png) no-repeat;
    }
    ul.capsule_list_segmented li.selected span {color:#fff;}
    ul.capsule_list_segmented li.selected .count {color:#eee;}

/* ========================================================================== */
/* Capsule list segmented */

ul.capsule_list_segmented {
  line-height:30px;
}

    ul.capsule_list_segmented li span {
  	  line-height:30px;
  	  color:#36c;
  	  text-shadow:0px 1px 0px rgba(255,255,255,.5);
  	  font-weight:bold;
    }
    ul.capsule_list_segmented li.selected span {
  	  text-shadow:0px 0px 2px rgba(0,0,0,.5);
      text-shadow:none;
    }/* ========================================================================== */
/* sprite PNG32bit Icons */
/* <ins class="sprite32bit size32x32 i32_rm"><i></i></ins> */

.sprite32bit {
  position: relative; overflow: hidden; display: block;
}

.sprite32bit i {
  display: block;
  position: absolute; top: 0px; left: 0px;
  width: 48px;
  height: 5000px;
  background: transparent url(/img/sprite32bit.png) no-repeat 0px 0px;
}

.icon_left, .icon_right {position:relative;}
.icon_left .size48x48, .icon_right .size48x48 {margin-top:-24px;}
.icon_left .size32x32, .icon_right .size32x32 {margin-top:-16px;}
.icon_left .size24x24, .icon_right .size24x24 {margin-top:-12px;}
.icon_left .size16x16, .icon_right .size16x16 {margin-top:-8px;}
.icon_left .sprite32bit, .icon_right .sprite32bit {position:absolute; top:50%;}
.icon_left {padding-left:18px;}
.icon_left .sprite32bit {left:0px;}
.icon_right {padding-right:18px;}
.icon_right .sprite32bit {left:auto; right:0px; }

.inline-block {
  display:-moz-inline-stack; /* Эмуляция для FF2 */
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  }
.inline-block .sprite32bit {
  display:-moz-inline-stack; /* Эмуляция для FF2 */
  display: inline-block;
  vertical-align: middle;
  top:-1px;
  margin:0;
}
.inline-block .sprite32bit i {/* position:relative;  чтобы в FF2 работало смещение фона*/}

.size48x48 {width:48px; height:48px;}
.size32x32 {width:32px; height:32px;}
.size24x24 {width:24px; height:24px;}
.size16x16 {width:16px; height:16px;}

/* ------------------------------ */

.size16x16 i {top:-126px;  }
.size24x24 i {top:-144px;  }
.size32x32 i {top:-170px;  }
.size48x48 i {top:-204px;  }

.i16_del i {top:0;  }
.i16_del_over i {top:-18px;  }
.i16_edit i {top:-36px;  }
.i16_edit_blue i {top:-54px;  }
.i16_edit_over i {top:-72px;  }
.i16_popup_calendar i {top:-90px;  }
.i16_popup_calendar_over i {top:-108px;  }

/* ========================================================================== */
/* Layout */
html {
  overflow-y: scroll;
  }
body {
  background-color:#fff;
  margin: 0 auto;
  padding:1em 1em;
  min-width:95em;
  max-width:130em;
}
body div.controlpoints {
  /*min-width:90em;*/
  /*max-width:160em;*/
}
body div.mediaplan {
  /*min-width: 146em;*/
  /*max-width: 150em;*/
}
body div.cpoint {
  /*min-width: 142em;*/
  /*max-width: 150em;*/
}
body div.cpoint_dailystat {
  /*min-width: 115em;*/
}
body div.placement_dailystat {
  /*min-width: 109em;*/
}

.info {
  padding: 0 0.5em 1.8em;
  position: relative;
  text-align:left;
  font-size:1.0em;
  color:gray;
}

.footer {
  padding:1.5em 1.5em 2em;
  position: relative;
  text-align:center;
  }
  .footer .copyright {
    font-size:1.0em;
    color:gray;
  }
  .footer .copyright a { color:gray; }

.header {
  display:inline-block;
  position:relative;
  }

  .header .version {
    position: absolute;
    bottom: -7pt;
    right: 0pt;
    color: gray;
    font-size: 8pt;
  }
/* ========================================================================== */
.panel-global_head .inner {
  margin:0;
  padding:0 1em .5em 0;
  position:relative;
}
.panel-global_head h1 {margin:0; padding:0;}

.panel-global_head .capsule_list_segmented {position:absolute; display:block; left:20em; top:50%; margin-top:-16px;}

.panel-global_head .user {position:absolute; right:0; top:1em;}/* ========================================================================== */
.panel-global_actions .inner {
  background-color:#5296DE;
  border:1px solid #3A75BD;
  -moz-border-radius:.75em;
  -webkit-border-radius:.75em;
  border-radius:.75em;
  color:white;
  margin:.75em 0 1.25em;
  padding:.75em 1em;
}

.panel-global_actions .statistics {
  display:inline-block;
  white-space:nowrap;
  margin:0 0 0 1em;
  }
  .panel-global_actions .statistics .period {
    display:inline-block;
    white-space:nowrap;
  }
    .panel-global_actions .statistics .period .dropdown_input {width:12em;}

.panel-global_actions .list_settings {
  display:inline-block;
  white-space:nowrap;
}
.panel-global_actions .list_settings select {margin-right:.25em;}

.panel-global_actions .list_settings .clients {width:14em;}
.panel-global_actions .list_settings .clients option {padding-left: 2em}
.panel-global_actions .list_settings .clients option.opthint {padding-left: 3px}
.panel-global_actions .list_settings .clients option.group {font-style:normal; font-weight:bold; color:gray; padding-left:3px}

.panel-global_actions .filter {display:inline-block; margin-left:1em;}
.panel-global_actions .filter_items {
  vertical-align:top;
  display:block;
  padding:1em;
  border-top:1px solid rgba(0,0,0,.3);
  background:#3A75BD;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.5, rgb(58,117,189)),
      color-stop(1, rgb(61,123,198))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(58,117,189) 50%,
      rgb(61,123,198) 100%
  );
  border-radius:4px; -moz-border-radius:4px; margin:.75em 0 0;
  }

.panel-global_actions .filter_items .f_name {display:inline-block;vertical-align:top;}
.panel-global_actions .filter_items .f_name input {width:13em; margin-left:.5em;}
.panel-global_actions .filter_items .f_banners {display:inline-block; margin-left:.75em;vertical-align:top;}
.panel-global_actions .filter_items .f_geo,
.panel-global_actions .filter_items .f_prod,
.panel-global_actions .filter_items .f_channel_group,
.panel-global_actions .filter_items .f_placement_targeting,
.panel-global_actions .filter_items .f_submit {display:inline-block; margin-left:.5em;vertical-align:top;}
.panel-global_actions .filter_items .f_submit input {display: block; margin-left:.5em; margin-top: 1em;}
.panel-global_actions .filter_items .f_submit input:first-of-type {margin-top: 0;}
/* Glider 25.10.11 - Фильтр, доп. параметры */
.panel-global_actions .filter_items dl.inline dt.label {width: 12em;}
.panel-global_actions .filter_items dl.inline dd.value {margin-left: 12.5em;}
.subfilterLine { padding-top: .5em; text-align: right; }

.panel-global_actions .clients .inactive {color:brown;}/* Panel thead */
/*
.panel-thead {border-top:1px solid #D4D8DE;}
.panel-thead table.data {border-top:none;}
*/
/* Panel tbody */
.panel-tbody {background-color:#fff;}
.panel-tbody table.data {border-top:none;}
/* ========================================================================== */
.panel-mediaplan_head .inner {border-top:1px solid #3A75BD;}
.panel-mediaplan_head .mform {margin:.75em 0 0em; padding:1em 0 .5em 0;}
.panel-mediaplan_head .mform dl.inline {padding:0; margin:0 0 .35em;}
.panel-mediaplan_head .mform dl.inline dt.label {color:gray; text-align:right; width:11em;}
.panel-mediaplan_head .mform dl.inline dd.value {margin-left:11.5em; font-weight:bold;}
/* ========================================================================== */
table {
  empty-cells:show;
  border-collapse:collapse;
  /* border-collapse: separate; border-spacing: 0px; */
  /* table-layout: fixed; */
  }
colgroup {border-width:0 1px 0 1px; border-color:#B5C6DE; border-style:solid;}

th, td {
  padding:.25em .5em;
  vertical-align:top;
  text-align:auto;
}

  thead td div.colheader {font-weight:bold;}
  thead tr:last-child {border-bottom:1px solid #B5C6DE;}

  tfoot tr:first-child {border-top:1px solid #B5C6DE;}

  tfoot td {font-weight:bold;}

/* Без переноса строк tbody */
table.fixed {
  table-layout:fixed;
  width:100%;
  }
  table.fixed tbody td {
    vertical-align:middle;
  	line-height:1.4em;
    overflow:hidden;
    white-space:nowrap;
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis;
    }
  table.fixed tbody td div {
    overflow:hidden;
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis;
  	}
  table.fixed ins.sprite32bit {/*background-color:red;*/}
  table.fixed tbody td div.wide input {
    vertical-align:baseline;
  	}
  table.fixed tbody .link {white-space:nowrap;}

  col.sorted  {
  	background-color:#f6f6f6;
  }

  col.leads  {
    background-color:#ffd !important;
  }


  table thead div.colheader {display:inline; color:#000;position:static;}

  table thead .sortable {cursor:pointer;}
  table thead .sortable:hover div.colheader {color:#ED5C00 !important}
  table thead .sortable div.colheader {
    /*padding-right:8px;*/
    text-decoration:underline;
  }

/* -------------------------------------------------------------------------- */
/* Чересполосица */
.striped tbody tr:nth-child(odd) {background-color: #eff3ff; background-color: rgba(219,229,255,.5);}
  .striped tbody tr:nth-child(odd),
  .striped tbody tr:nth-child(even) {border-bottom:none; border-bottom-color:#eff3ff;}

/* -------------------------------------------------------------------------- */
tbody tr.over td {background-color:#ffc !important;}

table .numeric {text-align:right;}
.striped tbody tr td.att {color:brown; background-color:#FCE1E1;}
.striped tbody tr.correct td.att {color:brown; background-color:#FCE1E1;}
td.correct {color:green; background-color:#d8f4c5;}
td.id {color:gray;}
tr.total td {text-align:right; padding-top:.5em; padding-bottom:.5em;}
td .percent {opacity:.4;}
td.inactive, tr.inactive {color:brown;}

.striped tbody tr.correct {color:green; background-color:#d8f4c5;}
/* =========================================== */

table tr.placement td {font-weight: bold;}
table tr.placement.simple td {font-weight: normal;}
/*table tr.profile td {color: #666;}*/
table tr.banner td {color: #888;}








/* Диалоги */
#mask {
  z-index:10;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:#fff;
  opacity:.6;
}

#dialogs {
  position:fixed;
  top:0; left:0;
  width:100%;
  height:100%;
  overflow:auto;
  z-index:20;
  }

.dialog {
  z-index:30;
  overflow:hidden;
  position:relative;
  top:0px;
  left:50%; width:90%; margin-left:-45%;
  -webkit-box-shadow:0px 1px 12px rgba(0,0,0,.4);
  -moz-box-shadow:0px 1px 12px rgba(0,0,0,.4);
  -moz-border-radius:2px;
  -webkit-border-radius:1px;
  border-radius:1px;
  border:1px solid #3A75BD;
  background-color:#fff;
  }
  .dialog_inner {
  }

  .dialog .panel-header .title {
    display:block;
    position:relative;
    background-color:#5296DE;
    border:0px;
    padding:0px 2.75em 0px 1em;
    margin:0px;
    overflow:hidden;
    height:32px;
  }
    .dialog .panel-header strong {
      display:block;
      overflow:hidden;
      -o-text-overflow:ellipsis;
      text-overflow:ellipsis-word;
      text-overflow:ellipsis;
      width:100%;
      white-space:nowrap;
      font-size:1.25em;
      line-height:2;
      color:white;
      text-shadow: 0px -1px 0px rgba(0,0,0,.2);
    }

/* -------------------------------------------------------------------------- */
/* Аутентификация */
.dialog-login {
  width:28em; margin-left:-14em;
  height:18em; margin-top:-9em;
  top:50%;
  }
  .dialog-login .mform {margin:0; padding:1em 2em;}
  .dialog-login .mform dl.inline dt.label {width:6em;}
  .dialog-login .mform dl.inline dd.value {margin-left:7em;}

/* -------------------------------------------------------------------------- */
/* Страницы с ошибками 404, 500 */
.dialog-errmessage {
  width:38em; margin-left:-19em;
  height:12em; margin-top:-6em;
  top:50%;
  }
.dialog-errmessage .mform {margin:0; padding:1em 2em;}
.dialog-errmessage .mform dl.inline dt.label {width:6em;}
.dialog-errmessage .mform dl.inline dd.value {margin-left:7em;}

/* -------------------------------------------------------------------------- */
/* Медиаплан */
.dialog-mediaplan {
  width:40em; margin-left:-20em;
  height:auto;
  top:25%;
  }
  .dialog-mediaplan .mform {margin:0; padding:2em;}
  .dialog-mediaplan .mform dl.inline dt.label {width:10em;}
  .dialog-mediaplan .mform dl.inline dd.value {margin-left:11em;}

/* -------------------------------------------------------------------------- */
/* Клиент */
.dialog-client {
  width:40em; margin-left:-20em;
  height:auto;
  top:25%;
  }
  .dialog-client .mform {margin:0; padding:2em;}
  .dialog-client .mform dl.inline dt.label {width:10em;}
  .dialog-client .mform dl.inline dd.value {margin-left:11em;}

/* -------------------------------------------------------------------------- */
/* Клиентская статистика */
.dialog-client-stat {
  width:30em; margin-left:-17em;
  height:auto;
  top:25%;
  }
  .dialog-client-stat .mform {margin:0; padding:2em;}
  .dialog-client-stat .mform dl.inline dt.label {width:9em;}
  .dialog-client-stat .mform dl.inline dd.value {margin-left:10em;}

/* -------------------------------------------------------------------------- */
/* Затраты */
.dialog-costs {
  width:30em; margin-left:-17em;
  height:auto;
  top:25%;
  }
  .dialog-costs .mform {margin:0; padding:2em;}
  .dialog-costs .mform dl.inline dt.label {width:9em;}
  .dialog-costs .mform dl.inline dd.value {margin-left:10em;}

/* -------------------------------------------------------------------------- */
/* Контрольная точка */
.dialog-cpoint {
  width:40em; margin-left:-20em;
  height:auto;
  top:5%;
  }
  .dialog-cpoint .mform {margin:0; padding:1em 2em;}
  .dialog-cpoint .mform dl.inline dt.label {width:13em;}
  .dialog-cpoint .mform dl.inline dd.value {margin-left:14em;}

/* -------------------------------------------------------------------------- */
/* Размещение */
.dialog-ad {
  width:40em; margin-left:-20em;
  height:auto;
  top:5%;
  }
  .dialog-ad .mform {margin:0; padding:1em 2em;}
  .dialog-ad .mform dl.inline dt.label {width:13em;}
  .dialog-ad .mform dl.inline dd.value {margin-left:14em;}

/* =========================================== */
/* Поле ввода с выпадающим списком */

.dropdown_input {position:relative; display:inline-block;}
.dropdown_input input {
  padding:1px 0px;
  width:100%;
  -moz-box-sizing: border-box;    /* Firefox */
  -webkit-box-sizing: border-box; /* Safari/WebKit/Chrome */
  -ms-box-sizing: border-box;     /* IE8 */
  box-sizing: border-box;         /* W3C Property, Opera */
}
  .dropdown_input input.placeholder {color:gray;}
  .dropdown_input ins.size16x16 {
    cursor:pointer;
    left:auto;
    position:absolute;
    right:3px;
    top:50%;
    margin-top:-8px;
    /*background-color:#fff;*/
    }

  .dropdown_input .inline-block {
    display:inline-block;
    position:absolute;
    left:2px;
    right:auto;
    height:16px;
    top:50%; margin-top:-8px;
    }
    .dropdown_input .inline-block ins.size16x16 {
      display:-moz-inline-stack; /* Эмуляция для FF2 */
      display: inline-block;
      vertical-align: middle;
      top:-1px;
      right:auto;
      position:relative;
      top:auto;
      margin:0;
      cursor:auto;
    }
/* ========================================================================== */

/* Calendar layout */

.DateTime {border-collapse:collapse; position:absolute; top:-15px;}
.DateTime td {padding:0;}
.DateTime div.inputData {padding: 0 !important; position:relative; z-index:2; width:100%;}
.DateTime div.inputData input {height:22px; width:11.5em;}
.DateTime div.inputData i {position:absolute; left:auto; right:4px; top:0; width:28px; height:1.7em; background:transparent url(/img/i_calendar.gif) no-repeat -22px 50%;  cursor:pointer; cursor:hand;}
.calendar {border-collapse:collapse; border:2px solid #7094F1;}
.calendar .navYM {padding:2px; color:white; background-color:#7094F1; text-align:center; cursor:default;}
.calendar .navYM div {clear:both; text-align: center;}
.calendar i {position:static; width:11px; height:11px; background:transparent url(/img/i_calendar.gif) no-repeat; cursor:pointer; cursor:hand;}
.calendar i.prev {background-position:0 0; float:left;}
.calendar i.next {background-position:-11px 0; float:right;}
.calendar .month {background-color:white; padding:4px 9px;}
.calendar .month table {border-collapse:separate; empty-cells:show;}
.calendar .month table td {border:1px solid white; text-align:right; cursor:pointer; cursor:hand; padding:1px 2px;}
.calendar .month .empty {cursor:default;}
.calendar .month .week * {color:#999; cursor:default;}
.calendar .month .end {color:#ff6666; }
.calendar .month .current {color:white; background-color:#7094F1; border:1px solid #7094F1;  cursor:default;}
.calendar .month .over {border:1px solid #7094F1; }
.calendar .today td {padding:1px 0 3px; background-color:white; border-top:1px solid gray; text-align:center; cursor:pointer; cursor:hand;}
.calendar .today .over {color:white; background-color:#7094F1; }
#calendarL {  position:fixed;  top:0; left:0;  visibility:hidden;  z-index:99;}

.period input {width:8.5em; padding: 1px 0;}
.dropdown_input input {width: 10em;}

.ui-datepicker-trigger { vertical-align: middle; margin-left: 2px; cursor: pointer;}
.ui-icon.ui-datepicker-icon-clear {display: inline-block;}


.ui-icon.reload {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	margin-left: 2px;
	background: transparent url(/img/icon-reload.png) no-repeat;
}

.ui-icon.autoupdate {
	display: inline-block;
	width: 11px;
	height: 11px;
	vertical-align: middle;
	margin-bottom: 3px;
	cursor: help;
	background: transparent url(/img/icon-auto.png) no-repeat;
}

table.fixed tbody tr:hover td {
	background: #ddd;
}

table.fixed colgroup col {
	border-right: 1px dotted #aaa;
}

table.fixed tr td {
	border-right: 1px dotted #ccc;
	/*min-width: 4.5em;*/
}