<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @project.text %>
</p>

<p>
<strong>Sources:</strong>
<ol>
<% @project.sources_ordered.each do |item| %>
  <li>
    <%= link_to item.url , item.url, title: "SCM TYPE: #{item.scm_type}" %>
  </li>  
<% end %>
</ol>
</p>

<%= link_to 'Edit Project', edit_project_path(@project) %>

